.header{
    font-size: 15px;
    width: 100%;
    margin: 0px;

}
.note{
    font-size: 15px;
    
}
body{
    background-size: cover;
}

canvas{
    border-radius: 20px;
    border: solid salmon;
    
}

.btn-danger{
    margin-top: 370px;
}